:root{
 --bgColor: #f5f7f8;
 --fontColor: #1f2937;
 --navColor: #202a38;
  --btnColor: #007fff;
 --sidebarColor: #1a237e;
 --hoverColor: #143597; 
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body{
 background-color: var(--bgColor);
 color: var(--fontColor);
}